body {
    background-color: #e3d7c3;
    color: black;
   
}
h1 {
    font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #352e28;
    position: relative;
   
    
}



  



 h1::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 10%;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1:hover::before {
height: 30%;
bottom: 25px;

}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(104, 34, 190);
  margin-bottom: 90px;
}





.x{
  border-bottom: 2px dotted gray;

}